/* http://stackoverflow.com/a/4614348/391753 */

body{
  overflow:hidden; /* This will remove the default scroll, not really needed, safer nonetheless */
}
.commands, .goal{
  overflow:auto; /* This will add a scroll when required */
  width:50%;
  float:left;
  height: 100%
}

span.command:hover {
  background-color: #ccc;
}


div.hidden {
  display: none;
}

pre {
  padding: 4px 8px 4px 8px;
  margin: 0px;
  background-color: #fff;
}

span.label {
  color: #f00;
}

span.comment {
  color: #090;
}

span.lemma {
  color: #00f;
}

span.obligation {
/* color: #c40; */
  color: #a0f;
}
